/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* SIDEBAR */
.sidebar-container {
	background-color: #101010;
	position: relative;
}

.sidebar-content {
	background-color: #101010;
	color: #fff;
	display: flex;
	max-width: 15rem;
	min-height: 100dvh;
	padding: 1.5rem 0.8rem;
	flex-direction: column;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99;
}

.sidebar-title {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}

.sidebar-title i {
	font-size: 2rem;
}

.sidebar-title h1 {
	font-size: 1.5rem;
}

/*NAVIGATION */
.nav-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.nav-container ul {
	list-style: none;
}

.nav-container ul[id="second-ul"] {
	margin-top: 2rem;
	list-style: none;
}

.nav-container a {
	display: flex;
	align-items: center;
	justify-content: start;
	text-decoration: none;
	font-size: 1rem;
	color: #b3b3b3;
	gap: 1rem;
	margin-bottom: 0.75rem;
}

#liked-songs i {
	background: linear-gradient(to bottom, #0076ec, #092981);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* FOOTER */
.footer-container {
	width: 100%;
	padding: 0 0 1.5rem;
}

.nav-footer-container {
	padding: 1rem 0;
}

.nav-footer-container ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	gap: 1rem;
}

.nav-footer-container a {
	display: flex;
	flex-direction: row;
	color: #b3b3b3;
	font-size: 0.8rem;
	text-decoration: none;
}

/* BUTTONS */
.btn-language {
	margin-top: 1rem;
	border: 1px solid #fff;
	border-radius: 8rem;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	gap: 0.5rem;
}

/* HOVER EFFECTS */
.nav-container a:hover,
.nav-footer-container a:hover,
.btn-language:hover {
	transform: scale(1.01);
	transition: transform ease-in-out 0.5s;
}

/* LAYOUT CONTAINER */
.container {
	display: flex;
	min-height: 100dvh;
}

/* HOME PAGE */
.home-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
}

/* HEADER */
.header-container {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 0.5rem 2rem;
	min-height: 4rem;
	gap: 1rem;
	background-color: #101010ee;
	transition: all ease-in-out 0.5s;
}

.header-container a {
	text-decoration: none;
}

.header-container a[id="signup"] {
	color: #b3b3b3;
}

.header-container a[id="login"] {
	background-color: #fff;
	color: #000;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container a[id="login"]:hover,
.header-container a:hover {
	transform: scale(1.01);
	color: #fff;
}

/* MAIN CONTENT */
.main-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1.7rem;
	background: linear-gradient(to bottom, #0f0f0fd0, #161616);
}

/* SECTIONS & CARDS */
.section-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.section-title {
	color: #fff;
	font-size: 1.7rem;
}

.section-title-container a {
	color: #b3b3b3;
	text-decoration: none;
	transition: all ease-in-out 0.5s;
}

.section-title-container a:hover {
	transform: scale(1.01);
	color: #fff;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.card-item-container {
	flex: 1 1 14rem;
	max-width: 20rem;
	background-color: #101010;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.card-item-container:hover {
	transform: scale(1.05);
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

.logo-img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.card-item-container span {
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.card-item-container p {
	color: #b3b3b3;
	font-size: 0.9rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

section[id="playlists"] {
	margin: 2rem 0;
}

/* PLAYLIST PAGE */
.reset-spacing {
	margin: 0;
	padding: 0;
}

.main-header-container {
	display: flex;
	align-items: center;
	padding: 1rem;
	width: 100%;
}

.main-header-container img {
	width: 16rem;
	height: 16rem;
}

.main-header-content {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	flex: 1;
	padding: 2rem 1rem;
	max-width: 90%;
}

.main-header-content span,
.main-header-content p {
	color: #b3b3b3;
	font-size: 1rem;
}

.main-header-content h1 {
	color: #fff;
	font-size: 3rem;
}

/* Header list */
.main-header-list ul {
	display: flex;
	gap: 1rem;
	width: 100%;
	margin-top: 0.7rem;
}

.main-header-list-content {
	display: flex;
	align-items: center;
	width: 100%;
}

/* Spotify icon and info */
#spotify-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-right: 0.5rem;
	list-style: none;
	color: #1ed760;
	font-size: 1.5rem;
}

#spotify-icon span {
	color: #fff;
}

.main-header-list-content li {
	color: #fff;
	margin-right: 0.5rem;
}

.main-header-list-content li:last-child {
	color: #b3b3b3;
	list-style: none;
}

/* Playlist options */
.playlist-options-container {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	gap: 1rem;
}

.playlist-options-container li {
	list-style: none;
}

.playlist-options-container li button {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: transform ease-in-out 0.5s;
}

.playlist-options-container li button[id="btn-play"] {
	background-color: #1ed760;
	border-radius: 50%;
}

.playlist-options-container li button[id="btn-like"] i,
.playlist-options-container li button[id="btn-options"] i {
	color: #b3b3b3;
	font-size: 1.9rem;
}

.playlist-options-container li button[id="btn-like"] i {
	font-size: 2rem;
}

.playlist-options-container li button:hover {
	transform: scale(1.05);
}

.playlist-options-container li button:hover i {
	color: #fff;
	transform: scale(1.05);
}

/* MUSIC TABLE  */
.playlist-music-container {
	background-color: #191919;
	padding-bottom: 1rem;
	flex: 1;
}

.musics-table {
	width: 100%;
	flex: 1;
}

.musics-table thead tr th {
	padding: 0.7rem;
	color: #b3b3b3;
	text-align: start;
}

.musics-table thead tr th:first-child,
.musics-table thead tr th:last-child {
	text-align: center;
}

.musics-table tbody tr td {
	padding: 0.7rem;
	color: #b3b3b3;
	text-align: start;
}

.musics-table tbody tr td:first-child,
.musics-table tbody tr td:last-child {
	text-align: center;
}

.td-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.td-title img {
	max-width: 5rem;
	max-height: 5rem;
	object-fit: cover;
}

.td-title div {
	display: flex;
	flex-direction: column;
}

.td-title div span:first-child {
	color: #fff;
	font-size: 1.2rem;
	margin-bottom: 0.2rem;
}

.musics-table tbody tr:hover {
	cursor: pointer;
	background-color: #b3b3b328;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 700px) {
	.main-header-container {
		flex-direction: column;
	}

	.main-header-list-content {
		flex-direction: column;
	}

	.album,
	.added {
		display: none;
	}
}
